Screen {
    background: $background;
    color: $foreground;
}

Horizontal {
    width: 100%;
}

#options {
    background: $panel;
    padding: 0 1;
    border: solid $border-blurred;
}

#input {
    background: $panel;
    border: solid $border-blurred;
    padding: 0 1;
    /*margin: 0 0 1 0;*/
}
#input:focus {
    border: solid $border;
}

#left_panel {
    width: 1fr;
    height: 1fr;
    background: $panel;
    border: solid $border-blurred;
    padding: 0 1;
    /*margin: 0 0 1 0;*/
}
#left_panel:focus-within {
    border: solid $border;
}

#right_panel {
    width: 66%;
    height: 1fr;
    background: $panel;
    border: solid $border-blurred;
    padding: 1 2;
    /*margin: 0 0 1 0;*/
}
#right_panel:focus-within {
    border: solid $border;
}

PasswordScreen {
    align: center middle;
}

PasswordScreen #password {
    width: 40;
    background: $panel;
    border: solid $border-blurred;
    padding: 0 1;
}

PasswordScreen #password:focus {
    border: solid $border;
}